{% extends "layout.html" %}

{% block title %}
Predicciones | Predicciones F1
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/predicciones.css">
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2>Predicciones</h2>
    </div>

    {% for race in races %}

        
        <form action="/" method="post">
            <div class="circuit_card" onclick="this.parentNode.submit()">
                <div class="id">
                    <h2>{{ race["id"] }}</h2>
                </div>
                <div class="circuit">
                    <h3>{{ race["circuit"] }}</h3>
                </div>
                <div class="card-img">
                    <img src="{{ race.img }}" alt="">
                </div>
            </div>
            <input type="hidden" value="{{ race.circuit }}" name="circuit">
            <input type="hidden" value="{{ race.img }}" name="img">
            <input type="hidden" value="{{ race.race_date }}" name="race_date">
            <input type="hidden" value="{{ race.race_time }}" name="race_time">
            <input type="hidden" value="{{ race.qualy_date }}" name="qualy_date">
            <input type="hidden" value="{{ race.qualy_time }}" name="qualy_time">
        </form>

    {% endfor %}
    
    <div class="space"></div>
{% endblock %}